<a href="https://colab.research.google.com/github/Techspacenation1995/Machine_Learning/blob/main/2_2_List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Obeject in Python:

1.   Immutable Object
2.   Mutable Object

Immutable Objects:

1.   int
2.   float
3.   string
4.   bool
5.   tuple

Mutable Objects:

1.   List
2.   Set
3.   Dictionary

#List

In [ ]:
# List should be included in square brackets
list1 = [1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [ ]:
# Lists can have  multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

List are mutable --> Changeable

In [ ]:
# add elements to a list using append function
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
# print element of a list using the index
print(my_list[2])
print(my_list[4])

1.8
True

In [ ]:
# List allows duplicate values
list2 = [1,2,3,4,5,1,2,3,4,5]
print(list2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# Check the length of the list
print(len(list2))

10

In [ ]:
# initiating an empty list
list3 = []
print(list3)

[]

In [ ]:
# Append value to list
list3.append(1)
list3.append(2)
list3.append(3)
print(list3)

[1, 2, 3]

In [ ]:
# Delete items of a list
del list3[2]
print(list3)

[1, 2]

In [ ]:
# Join two list
list4 = list1 + list2
print(list4)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#Tuple

They are Immutable elements. i.e you cannot change the elements of a tuple.

In [ ]:
 tuple_1 = (1,2,3,4,5)
 print(tuple_1)
 type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [ ]:
# They also allow multiple data types  in a single tuple
tuple_2 = (1, 1.6, False, "Python")
print(tuple_2)

(1, 1.6, False, 'Python')

In [ ]:
# Converting a list to a tuple
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [ ]:
# To print the element of a tuple
print(my_tuple[2])
print(my_tuple[4])

3
5

Tuples are immutable --> Unchangeable

In [ ]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# To get the number of element
print(len(my_tuple))

5

#Set
Set is enclosed in curly bracket.

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
# Set does not support indexing

In [ ]:
# convert a list to a set
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)
my_set = set(my_list)
print(my_set)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [ ]:
# Set does not allow duplicate values
my_set = {1,2,3,4,5,1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

#Dictionary

Key-Vaule pair

In [ ]:
my_dict = {'name':'Jack', 'age': 26, 'country': 'India'}
print(my_dict)
type(my_dict)

{'name': 'Jack', 'age': 26, 'country': 'India'}

dict

In [ ]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

Jack
26
India

In [ ]:
# Dictionary does not allow duplicate vaules
my_dict = {'name':'Jack', 'age': 26, 'country': 'India', 'name': 'Jack', 'age': 26, 'country': 'India'}
print(my_dict)

{'name': 'Jack', 'age': 26, 'country': 'India'}