<a href="https://colab.research.google.com/github/Techspacenation1995/Machine_Learning/blob/main/2_3_Operators_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python:



1.   Arithmetic Operators
2.   Assignment Operators
3.   Comparison Operators
4.   Logical Operators
5.   Identity Operators
6    Membership Operators

#1. Arithmetic Operators

In [ ]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print("sum = ", sum)

# subtraction
diff = num_1 - num_2
print("difference = ", diff)

# multiplication
prod = num_1 * num_2
print("product = ", prod)

# division
quot = num_1 / num_2
print("quotient = ", quot)

# remainder
rem = num_1 % num_2
print("remainder = ", rem)

# exponent
exp = num_1 ** num_2
print("exponent = ", exp)

sum =  30
difference =  10
product =  200
quotient =  2.0
remainder =  0
exponent =  10240000000000

#2. Assignment Operator

+=

-=

*=

/=

%=

In [ ]:
a = 5
print(a)

a += 5
print(a)

a -= 5
print(a)

a *= 5
print(a)

a /= 5
print(a)

a %= 5
print(a)

5
10
5
25
5.0
0.0

#Comparison Operators

Compares to variables

In [ ]:
a = 5
b = 10

print(a == b)  # Equal to
print(a != b)  # Not Equal to
print(a > b) # Greater than
print(a < b) # Less Than
print(a >= b) # Greater than or equal to
print(a <= b) # Less than or equal  to

False
True
False
True
False
True

#Logical Operators

> There are 3 Logical Operators

and

or

not

In [ ]:
a = 10

print(a > 20 and a > 5)
print(a > 20 or a > 5)
print(not(a > 8 and a > 5))

False
True
False

#Identity Operator

is

is not

In [ ]:
x = 5
y = 5

print(x is y)
print(x is not y)

True
False

#Membership Operators

in

not in

In [ ]:
a = [1, 2, 3, 4, 5]

print(1 in a)
print(6 not in a)

True
True

In [ ]:
a = 5
b =  10

c = [1,2,3,4,5]
print(a in c)
print(b in c)

True
False