<a href="https://colab.research.google.com/github/Techspacenation1995/Machine_Learning/blob/main/2_5_Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loop

In [ ]:
laptop1 = int(input("Enter the name of laptop 1: "))
laptop2 = int(input("Enter the name of laptop 2: "))
laptop3 = int(input("Enter the name of laptop 3: "))
laptop4 = int(input("Enter the name of laptop 4: "))
laptop5 = int(input("Enter the name of laptop 5: "))

Enter the name of laptop 1: 20000
Enter the name of laptop 2: 30000
Enter the name of laptop 3: 40000
Enter the name of laptop 4: 50000
Enter the name of laptop 5: 60000

In [ ]:
for  i in range(5):
    laptop_price = int(input("Enter the price of laptop: "))

Enter the price of laptop: 20000
Enter the price of laptop: 30000
Enter the price of laptop: 40000
Enter the price of laptop: 50000
Enter the price of laptop: 60000

In [ ]:
numbers = [50, 100, 150, 200]

for i in numbers:
    print(i)

50
100
150
200

#Why loop

while condition:

    statement

In [ ]:
i = 0

while i < 10:
    print(i + 1)
    i += 1  # i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 5

while i < 3:
    print(i)
    i += 1